@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'valentin';
  src: url('/valentin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angelia';
  src: url('/angelia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/images/Background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
